<%- include('../partials/header') %>

<div>
    <h1>HIKES!@#$!#</h1>
    <% hikes.forEach(function(h) { %>
    <h2><%= h.name %></h2>
    <h2><%= h.location %></h2>
    <% }) %>
</div>

<%- include('../partials/footer') %>