<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
    <nav class="navigation">
        <ul class="navList">
            <li><a class="navLink" href="/hikes">All Hikes</a></li>
            <% if(user) { %>
                <li><a class="navLink" href="/hikes/new">Post Hike</a></li>
                <li><a class="navLink" href="/logout">Sign Out</a></li>
            <% } else { %>
                <li><a class="navLink" href="/auth/google">Sign In</a></li>
            <% } %>
        </ul> 
    </nav>